#drop_zone{
    border: 2px dashed #bbb;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    color: #bbb;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
}

.top-pad-50{padding-top: 50px;}
.top-pad-20{padding-top: 20px;}

.chart {
    display: block;
    width:800px;
    height:300px;
    margin: 0 auto;
    white-space: nowrap;
}

.yaxisLabel {
    top:  40%;
    left: 40px;
    transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform:  rotate(-90deg);
    transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    position: absolute;
    text-align: center;
    font-size: 12px;
}

.xaxisLabel{
    margin: 0 auto;
    text-align: center;
    font-size: 12px;
}

.full-width{width: 100%;}

.chartControls{padding-top: 15px;}

.sampleInfo{text-align: right; padding-right: 55px;}