<!doctype html>
<html ng-app="frapsRead">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Read Fraps Benchmark</title>

        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="bower_components/angular-rangeslider/angular.rangeSlider.css">
        
        <link rel="author" href="humans.txt">

        {{#filesCSS}}
        <link rel="stylesheet" href="{{{.}}}">
        {{/filesCSS}}

    </head>
    <body class="grey-bg">
        
        <div ng-view=""></div>

        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/angular-route/angular-route.min.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
        <script src="bower_components/underscore/underscore.js"></script>

        <script src="bower_components/angular-rangeslider/angular.rangeSlider.js"></script>

        <script src="src/external/jquery.flot.js"></script>
        <script src="src/external/jquery.flot.navigate.js"></script>
        <script src="src/external/jquery.flot.threshold.js"></script>
        <script src="src/external/jquery.flot.downsample.js"></script>
        
        <script src="src/app.js"></script>

        {{#filesJS}}
        <script src="{{{.}}}"></script>
        {{/filesJS}}

    </body>
</html>


