<div class="container-fluid">
    
    <div class="row">

        <div class="col-md-4"></div>

        <div class="col-md-4">
            
            <h3 class="text-center">Plot FRAPs Benchmark</h3>
            
            <div id="drop_zone" drop-zone="">
                <p>Drop benchmark file: </br> "PlanetSide2_x64/x86 YYYY-MM-DD XX-XX-XX-XX fps.csv" here</p>
            </div>

            <div ng-show="error" class="errors top-pad-20">
                <p class="bg-danger text-danger text-center"><strong>{{error}}</strong></p>
            </div>
        </div>

        <div class="col-md-4"></div>           

    </div>

    <div class="row top-pad-20" ng-show="frapsData != null">

        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="chartHolder">
                <div class="yaxisLabel axisLabel">FPS</div>
                <div class="sampleInfo">
                    <span><b>Total Samples</b>: {{totalSamples}}</span>
                    <span> | </span>
                    <span><b>Average FPS</b>: {{sampleAverage}}</span>
                </div>
                <chart ng-model='frapsData' class="chart"></chart>
                <div class="xaxisLabel axisLabel">Time (seconds)</div>
            </div>
            <div class="chartControls pull-left full-width">
                <span>FPS threshold</span>
                <div range-slider min="0" max="100" model-max="lowerLimit" pin-handle="min"></div>
            </div>
        </div>        
        <div class="col-md-2"></div>           

    </div>

</div>